/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body style */

body{
    font-family: 'Roboto', sans-serif;
}

/* --------------------------
header style
-------------------------- */

header{
    background: rgba(255, 144, 14, 0.1);
    
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    padding: 0 25px;
    padding-top: 50px;
    
}
nav >ul{
    list-style: none;
    display: flex;
    gap: 30px;
    transition: 2s;
   
}
ul>li:hover{
    
    background-color:springgreen;
   transform: scale(1.5);
   border-radius: 30px;
   padding: 5px;
}

/* header-section */

.header-tittle{
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-top: 116px;
    color: #131313;
    margin-bottom: 40px;
    
}
.header-details{
    font-weight: 400;
    text-align: center;
    color: #727272;
    /* max-width: 800px;
    width: 100%; */
    
    margin-bottom: 40px;   
}

.button-header{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.common-btn{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    
    padding: 20px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    transition: 1s;
}
.common-btn:hover{
    transform: scale(1);
    background-color: aquamarine;
}
.img-header img{
    /* margin-left: 100px; */
    width: 100%;
    /* max-width: 1200px; */
    /* height: 700px; */
    padding: 30px;
}


/* 
----------------------------
main 
---------------------------- */


.main-theme{
    margin-top: 100px;
    display: flex;
    gap: 50px;
    align-items: center;
    /* max-width: 1300px;
    padding-left: 100px; */
    
    
}

.images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
      
}
.main-theme .tittle{
    color: #727272;
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 20px;
}
#color-1{
    color: #131313;


}
#color-2{
    color: #FF900E;

}
.main-theme .details{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}




/* extra */
.extra-info{
    margin-top: 200px;
    display: flex;
    align-items: center;
     margin-left: 100px; 
    gap: 50px;
    margin-right: 100px;
}
.random{
    display: flex;
    
}
.line{
    
    background-color: #FF900E;
    width: 5px;
    height: 106px; 
    margin-right: 10px;  
}
.info-tittle{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
.info-details{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 20px;
    margin-top: 10px;
}
.extra-1,.extra-2,.extra-3,.extra-4 p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.extra-1,.extra-2,.extra-3,.extra-4{
    border: 1px solid skyblue;
    padding: 20px;
    background: #FFFFFF;
     box-shadow: 200px 45px 130px rgba(23, 189, 125, 0.9); 
    border-radius: 8px;
    margin-bottom: 10px;
}
.head{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-top: 10px;
    margin-bottom: 5px;
}
.img-extra img{

    height: 800px;
}
.btn h2{
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
}
.btn p{
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    
}
.btn{
    background: #FF900E;
border-radius: 8px;
padding: 30px;
border: 0;

}


/* --------------------
others
-------------------- */
.others h1{
    margin-top: 150px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    /* margin-left: 100px; */
    text-align: center;
}
.others .info{
    color: #727272;
    font-weight: 400;
    /* margin-left: 50px; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 150px;
}
.box{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px; 
    transition: 5s;  
}
.box-1,.box-2,.box-3,.box-4{
    padding: 50px;
    /* border: 2px solid rgb(94, 17, 86); */
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    background-color:springgreen;
    border-radius: 30px;
}
.box-1:hover{
    transform: scale(1.3);
    z-index: 2;
    background-color: aqua;
    border-radius: 30px;
   
}
.box-2:hover{
    transform: scale(1.4);
    z-index: 2;
    background-color: aqua;
    border-radius: 30px;
}
.box-3:hover{
    transform: scale(1.3);
    z-index: 2;
    background-color: aqua;
    border-radius: 30px;
}
.box-4:hover{
    transform: scale(1.3);
    z-index: 2;
    background-color: aqua;
    border-radius: 30px;
}

/* ------------------------------
.sponsors
------------------------------ */


.sponsors h1{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;

}
.sponsors p{
    color: #727272;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
}

.logo{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    transition: 2s;
}
.logo-1:hover{
    transform: scale(1.5);
}
.logo-2:hover{
    transform: scale(1.5);
}
.logo-3:hover{
    transform: scale(1.5);
}
.logo-4:hover{
    transform: scale(1.5);
}
.logo-5:hover{
    transform: scale(1.5);
}


footer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: bisque;
    border-radius: 30px;
    font-weight: 400;
    font-size: 20px;
}
.form{
    background-color: aqua;
    border-radius: 50px;
    width: 600px;
    margin: auto;
    margin-top: 100px;
    
}
.form-container{
    height: 600px;
    width: 600px;
    margin: 50px auto;
}
.form-container form{
    margin-top: 100px;
    height: 400px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-transform: capitalize;
    border-radius: 30px;
    font-size: 2.5rem; 
}
.form-container h3{
    text-align: center;
    font-size: 2.5rem;
    color: purple; 
    
}
.form-container form label{
    font-size: 1.3rem;
    padding: 3px 0;
    margin: 5px 0 5px 0;

}
.form-container form input,textarea{
    padding: 20px;
    border-radius: 20px;
    margin: 5px 0 5px 0;
    border: none;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    font-size: 1rem;
}
.form-container form input[type="button"]{
    align-self: flex-end;
    height: 30;
    width: 60px;
    font-size: 100%;
}

/* ----------------------
 mobile-responsive 
----------------------- */
@media only screen  and (max-width:576px){
   
    nav  {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;

    }
    .header-main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .header-tittle{
        font-size: 35px;
    }
    .header-tittle,.header-details{
        width: 100%;
        text-align: center;      
    }
    .img-header{
        margin: 0;
        padding: 0;
    }
    .img-header img{
       width: 100%;
       height: auto;
       margin-left: 0;
    }
    
    .main-theme{
        display: flex;
        flex-direction: column-reverse;
    }
    .main-contain .tittle{
        width: 100%;
        text-align: center;
        font-size: 30px;

        margin: 0;
    }
    .details{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;

    }
    .images{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .images img{
        width: 100%;
       
    }
    
    .main-contain .common-btn{
        display: grid;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .extra-info{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;

    }
    .extra-info .info .info-tittle{
        width: 100%;
    }
    .extra-1,.extra-2,.extra-3,.extra-4 h2,p{
        width: 100%;
    }
    .img-extra img{
        width: 100%;
    }
    .btn h2{
        font-size: 30px;
    }
    .btn {
        width: 50%;
    }
    .others{
        width: 100%;
        text-align: center;
    }
    .box{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .box h3{
        width: 100%;
        font-size: 1rem;
        text-align: center;
    }
    .box p{
        width: 100%;
        text-align: center;
        
    }
    .box img{
        width: 100%;
    }
    .sponsors h1,p{
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .logo{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .logo img{
        width: 100%;
    }
    .form{
        width: 100%;
    }
    .form-container h3{
        width: 100%;
    }
    .form-container {
        width: 100%;
    }
    .fro{
        width: 100%;
    }

    footer p{
        width: 100%;
        margin-left: 0px;

    }
}





